{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link"href="{{ path('app_login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Reset your password</a>
        </li>
    </ul>
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="form-group row ps-2 pe-2">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">Enter your email address and we we will send you a link to reset your password.</div>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
{% endblock %}