<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Installation {{ steps[currentStep].label }}{% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        {% for key, step in steps %}
            <div class="col-sm">
                {% if step.access and key != currentStep %}
                    <a href="{{ step.url }}">{{ step.index + 1 }}. {{ step.label }}</a>
                {% else %}
                    <span>{{ step.index + 1 }}. {{ step.label }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    {{ form(form) }}
</div>
</body>
</html>
