<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% set _blockTitle = block('title') %}
        {% if _blockTitle is not empty %}
            {% set _blockTitle = 'DrupGuard | ' ~ block('title') %}
        {% else %}
            {% set _blockTitle = 'DrupGuard' %}
        {% endif %}
        <title>{{ _blockTitle }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {{ knp_menu_render('main', {'currentClass': 'active'}) }}
        </div>
        <div class="container">
            {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
