{{ form_start(projectForm) }}
    {% if operation == 'edit' %}
        <div class="mb-3 row">
            <label class="col-form-label col-sm-2 required" for="project_name">Owner</label>
            <div class="col-sm-10 pt-2">
                {{ projectForm.vars.value.owner.username }}
            </div>
        </div>
    {% endif %}
    {{ form_row(projectForm.name) }}
    {%  if projectForm.machineName is defined %}
        {{ form_row(projectForm.machineName) }}
    {% endif %}
    {{ form_row(projectForm.gitRemoteRepository) }}
    <div class="js-git-branch-target">
        {%  if projectForm.gitBranch is defined %}
            {{ form_row(projectForm.gitBranch) }}
        {% endif %}
    </div>
    {{ form_row(projectForm.composerVersion) }}
    {{ form_row(projectForm.drupalDirectory) }}
    {{ form_row(projectForm.needEmail) }}
    {{ form_row(projectForm.emailLevel) }}
    {{ form_row(projectForm.emailExtra) }}
    {{ form_row(projectForm.hasCron) }}
    {{ form_row(projectForm.cronFrequency) }}
    {{ form_row(projectForm.isPublic) }}
    {{ form_row(projectForm.allowedUsers) }}
    {{ form_row(projectForm.ignored_modules) }}
    {{ form_row(projectForm.submit) }}
{{ form_end(projectForm) }}

{{ encore_entry_link_tags('autocomplete') }}
{{ encore_entry_script_tags('autocomplete') }}
{{ encore_entry_script_tags('project_form') }}