<div class="d-inline-flex ms-auto project-launcher">
    <a href="{{ path('project_show', {'id': project.id}) }}" class="btn" title="Show last analyse"><i class="fas fa-history"></i></a>
    <a href="{{ path('project_history', {'id': project.id}) }}" class="btn" title="Show analyse list"><i class="fas fa-list"></i></a>
    {% if project.isWritable(user) %}
        <a href="{{ path('project_edit', {'id': project.id}) }}" class="btn" title="Edit project"><i class="fas fa-edit"></i></a>
        {% if project.analyseQueue is not null or (project.lastAnalyse and project.lastAnalyse.running) %}
            <span class="btn"><i class="fas fa-spinner fa-spin"></i></span>
        {% else %}
            <a href="{{ path('project_run', {'id': project.id}) }}" class="btn btn-run" title="Run analyse"><i class="fas fa-play"></i></a>
        {% endif %}
        {% if analyse %}
            {% if project.emailsProcessed is not empty %}
                <a href="{{ path('project_email', {'id': project.id, 'analyse': analyse.id}) }}" class="btn btn-email" title="Send report by email"><i class="fas fa-envelope"></i></a>
            {% else %}
                <span class="btn"><i class="fas fad fa-envelope"></i></span>
            {% endif %}
        {% endif %}
        <a href="{{ path('project_delete', {'id': project.id}) }}" class="btn" title="Delete project"><i class="fas fa-trash"></i></a>
    {% endif %}
</div>
<script>
    var intervalCheck, timeoutAlert, alert;
    var startCheck = function () {
        intervalCheck = setInterval(function(){
            $.ajax({
                url: '{{ path('project_check', {'id': project.id}) }}'
            }).done(function(data) {
                if(!data.running && !data.pending) {
                    stopCheck();
                    window.location.href = '{{ path('project_show', {'id': project.id}) }}';
                }
            });
        }, 5000);
    };
    var startAlert = function() {
        alert = $('<div class="alert alert-success alert-analyse-start" role="alert">Analyse is pending. You will be redirect shortly.</div>')
        $('.alert-container').prepend(alert);
        timeoutAlert = setTimeout(function(){
            removeAlert(alert);
        }, 3000);
    };
    var stopCheck = function() {
        clearInterval(intervalCheck);
        clearTimeout(timeoutAlert);
    };
    var removeAlert = function (alert) {
        if(!alert) {
            return;
        }
        alert.fadeOut("normal", function() {
            $(this).remove();
            alert = null;
        });
    }

    {% if project.analyseQueue is not null or (project.lastAnalyse and project.lastAnalyse.running) %}
    $(document).ready(function() {
        startCheck();
        startAlert();
    });
    {% endif %}

    $(document).on('click', 'a.btn-run', function(e) {
        e.preventDefault();
        $('a.btn-run').replaceWith('<span class="btn"><i class="fas fa-spinner fa-spin"></i></span>');
        startAlert();
        $.ajax({
            url: '{{ path('project_run', {'id': project.id}) }}'
        }).done(function() {
            startCheck();
        });
    });

    {% if analyse %}
        $(document).on('click', 'a.btn-email', function(e) {
            e.preventDefault();
            var html = $('a.btn-email')[0].outerHTML;
            $('a.btn-email').replaceWith('<span class="btn btn-email"><i class="fas fa-spinner fa-spin"></i></span>');
            $.ajax({
                url: '{{ path('project_email', {'id': project.id, 'analyse': analyse.id}) }}'
            }).done(function() {
                $('span.btn-email').replaceWith(html);
            });
        });
    {% endif %}
</script>