{% apply inline_css %}
    <style>
        .project-bullet {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        .project-success {
            background-color: #d1e7dd;
        }

        .project-warning {
            background-color: #fff3cd;
        }

        .project-danger {
            background-color: #f8d7da;
        }

        .project-other {
            background-color: #e2e3e5;
        }

        .table-success {
            color: #000;
            border-color: #bcd0c7;
            background-color: #d1e7dd;
        }

        .table-warning {
            color: #000;
            border-color: #e6dbb9;
            background-color: #fff3cd;
        }

        .table-danger {
            color: #000;
            border-color: #dfc2c4;
            background-color: #f8d7da;
        }

        .table-secondary {
            color: #000;
            border-color: #cbccce;
            background-color: #e2e3e5;
        }
    </style>
    {% set project_url = url('project_show', {'id': project.id}) %}
    <table border="0" cellspacing="0" cellpadding="0">
        <tr style="vertical-align: middle;">
            <td class="project-bullet project-{{ analyse ? analyse.stateClass : 'other' }}"></td>
            <td>
                <h1>
                    <a href="{{ project_url }}">Project {{ project.name }}</a>{{ ' - ' ~ analyse.date|date('d/m/Y H:i:s') }}
                </h1>
            </td>
        </tr>
    </table>

    <p>Go to Drupguard project page <a href="{{ project_url }}">{{ project_url }}</a>.</p>

    {% if analyse.message is not empty %}
        <div project-{{ analyse ? analyse.stateClass : 'other' }}">{{ analyse.message }}</div>
    {% endif %}
    {% if analyse.activeAnalyseItems is not empty %}
        <h2>Detail</h2>
        <table>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Current version</th>
                <th>Latest version</th>
                <th>Recommanded version</th>
                <th>Detail</th>
            </tr>
            {% for item in analyse.activeAnalyseItems %}
                <tr class="table-{{ item.stateClass }}">
                    <td>{{ item.type }}</td>
                    <td>
                        {% if item.state < 0 %}
                            {{ item.name }}
                        {% else %}
                            <a href="https://www.drupal.org/project/{{ item.machineName }}"
                               target="_blank">{{ item.name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ item.currentVersion }}</td>
                    <td>{{ item.latestVersion }}</td>
                    <td>{{ item.recommandedVersion }}</td>
                    <td>{{ item.detail|raw }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if analyse.ignoredAnalyseItems is not empty %}
        <h2>Ignored modules</h2>
        <table class="table">
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Current version</th>
                <th>Latest version</th>
                <th>Recommanded version</th>
                <th>Detail</th>
            </tr>
            {% for item in analyse.ignoredAnalyseItems %}
                <tr class="table-secondary">
                    <td>{{ item.type }}</td>
                    <td>
                        {% if item.state < 0 %}
                            {{ item.name }}
                        {% else %}
                            <a href="https://www.drupal.org/project/{{ item.machineName }}"
                               target="_blank">{{ item.name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ item.currentVersion }}</td>
                    <td>{{ item.latestVersion }}</td>
                    <td>{{ item.recommandedVersion }}</td>
                    <td>{{ item.detail|raw }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endapply %}