{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="container-fluid d-flex align-items-center">
        <h1 class="d-inline-flex">Project {{ project.name }}{% if project.lastAnalyse %}{{ ' - ' ~ project.lastAnalyse.date|date('d/m/Y H:i:s') }}{% endif %}</h1>
        {% if project.isWritable(user) %}
            <div class="d-inline-flex ms-auto">
                <a href="{{ path('project_edit', {'id': project.id}) }}" class="btn"><i class="fas fa-edit"></i></a>
                <a href="{{ path('project_run', {'id': project.id}) }}" class="btn"><i class="fas fa-play"></i></a>
                <a href="{{ path('project_delete', {'id': project.id}) }}" class="btn"><i class="fas fa-trash"></i></a>
            </div>
        {% endif %}
    </div>
    {% if project.lastAnalyse %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <div id="project-donut"></div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <div id="project-stack-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <h2>Detail</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Current version</th>
                <th scope="col">Latest version</th>
                <th scope="col">Recommanded version</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            {% if project.lastAnalyse %}
                {% for item in project.lastAnalyse.analyseItems %}
                    <tr class="table-{{ item.stateClass }}">
                        <td>{{ item.type }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.currentVersion }}</td>
                        <td>{{ item.latestVersion }}</td>
                        <td>{{ item.recommandedVersion }}</td>
                        <td>{{ item.detail|raw }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="table-secondary text-center">
                    <td colspan="6">No analyse available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{{ path('project_index') }}">back to list</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if project.lastAnalyse is not empty and not project.lastAnalyse.isRunning %}
        {{ encore_entry_script_tags('c3') }}
        <script>
            $(document).ready(function() {
                c3.generate({
                    bindto: '#project-donut',
                    data: {
                        columns: {{ statsDonut|json_encode()|raw }},
                        type : 'donut',
                        colors: {success: '#d1e7dd', warning: '#fff3cd', danger: '#f8d7da', other: '#e2e3e5'}
                    },
                    donut: {
                        title: "Last analyse"
                    }
                });
                c3.generate({
                    bindto: '#project-stack-bar',
                    data: {
                        columns: {{ statsHistory.data|json_encode()|raw }},
                        type: 'bar',
                        groups: [
                            ['success', 'warning', 'danger', 'other']
                        ],
                        order: null,
                        colors: {success: '#d1e7dd', warning: '#fff3cd', danger: '#f8d7da', other: '#e2e3e5'}
                    },
                    legend: {
                        position: 'right'
                    },
                    grid: {
                        y: {
                            lines: [{value:0}]
                        },
                    },
                    axis: {
                        x: {
                            type: 'category',
                            categories: {{ statsHistory.categories|json_encode()|raw }},
                            tick: {
                                rotate: -75,
                            }
                        },
                        y: {
                            tick: {
                                format: function(x) { return x % 1 === 0 ? x : ''; }
                            }
                        }
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}