{% extends 'base.html.twig' %}

{% block title %}Project {{ project.name }}{% if analyse %}{{ ' - ' ~ analyse.date|date('d/m/Y H:i:s') }}{% endif %}{% endblock %}

{% block analyse_navigation %}
    {% if analyse and (prevAnalyse or nextAnalyse) %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    {% if prevAnalyse %}
                        <a href="{{ path('project_show', {'id': project.id, 'analyse': prevAnalyse.id}) }}" class="btn"><i class="fas fa-step-backward"></i>&nbsp;Previous analyse</a>
                    {% endif %}
                </div>
                <div class="col-6 text-end">
                    {% if nextAnalyse %}
                        <a href="{{ path('project_show', {'id': project.id, 'analyse': nextAnalyse.id}) }}" class="btn">Next analyse&nbsp;<i class="fas fa-step-forward"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container-fluid d-flex align-items-center">
        <h1 class="d-inline-flex"><div class="project-bullet my-1 me-3 project-{{ analyse ? analyse.stateClass : 'other' }}"></div>{{ block('title') }}</h1>
        {{ include('project/_project_launcher.html.twig') }}
    </div>
    {% if analyse %}
        {{ block('analyse_navigation') }}
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <div id="project-donut"></div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <div id="project-stack-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <h2>Detail</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Current version</th>
                <th scope="col">Latest version</th>
                <th scope="col">Recommanded version</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            {% if analyse %}
                {% for item in analyse.activeAnalyseItems %}
                    <tr class="table-{{ item.stateClass }}">
                        <td>{{ item.type }}</td>
                        <td>
                            {% if item.state < 0 %}
                                {{ item.name }}
                            {% else %}
                                <a href="https://www.drupal.org/project/{{ item.machineName }}" target="_blank">{{ item.name }}</a>
                            {% endif %}
                        </td>
                        <td>{{ item.currentVersion }}</td>
                        <td>{{ item.latestVersion }}</td>
                        <td>{{ item.recommandedVersion }}</td>
                        <td>{{ item.detail|raw }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="table-secondary text-center">
                    <td colspan="6">No analyse available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    {% if analyse and analyse.ignoredAnalyseItems is not empty%}
        <h2>Ignored modules</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Current version</th>
                    <th scope="col">Latest version</th>
                    <th scope="col">Recommanded version</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for item in analyse.ignoredAnalyseItems %}
                    <tr class="table-secondary">
                        <td>{{ item.type }}</td>
                        <td>
                            {% if item.state < 0 %}
                                {{ item.name }}
                            {% else %}
                                <a href="https://www.drupal.org/project/{{ item.machineName }}" target="_blank">{{ item.name }}</a>
                            {% endif %}
                        </td>
                        <td>{{ item.currentVersion }}</td>
                        <td>{{ item.latestVersion }}</td>
                        <td>{{ item.recommandedVersion }}</td>
                        <td>{{ item.detail|raw }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if analyse %}
        {{ block('analyse_navigation') }}
    {% endif %}
    <a href="{{ path('project_index') }}">back to list</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if analyse is not empty and not analyse.running %}
        {{ encore_entry_script_tags('c3') }}
        <script>
            $(document).ready(function() {
                c3.generate({
                    bindto: '#project-donut',
                    data: {
                        columns: {{ statsDonut|json_encode()|raw }},
                        type : 'donut',
                        colors: {success: '#d1e7dd', warning: '#fff3cd', danger: '#f8d7da', other: '#e2e3e5'}
                    },
                    donut: {
                        title: "{{ analyse.date|date('d/m/Y H:i:s') }}"
                    }
                });
                c3.generate({
                    bindto: '#project-stack-bar',
                    data: {
                        columns: {{ statsHistory.data|json_encode()|raw }},
                        type: 'bar',
                        groups: [
                            ['success', 'warning', 'danger', 'other']
                        ],
                        order: null,
                        colors: {success: '#d1e7dd', warning: '#fff3cd', danger: '#f8d7da', other: '#e2e3e5'}
                    },
                    legend: {
                        position: 'bottom'
                    },
                    grid: {
                        y: {
                            lines: [{value:0}]
                        },
                    },
                    axis: {
                        x: {
                            // label: {
                            //     text: 'Analysis',
                            //     position: 'outer-center'
                            // },
                            show: true,
                            type: 'category',
                            categories: {{ statsHistory.categories|json_encode()|raw }},
                            tick: {
                                // rotate: -75,
                                width: 44
                            },
                            height: 50
                        },
                        y: {
                            label: {
                                text: 'Number of modules',
                                position: 'outer-middle'
                            },
                            tick: {
                                format: function(x) { return x % 1 === 0 ? x : ''; }
                            }
                        }
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}